body {
  background-color: black;
}
.header {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.nav {
  display: flex;
  flex-direction: row;
  height: 80px;
  align-items: center;
  justify-content: center;
  background-color: black;
}
#navi {
  display: flex;
  flex-direction: row;
  width: 800px;
  justify-content: space-between;
  margin-right: 80px;
  list-style: none;
  word-spacing: 800px;
}
li > a {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  text-decoration: none;
  color: white;
  font-weight: 800;
  transition: 0.5s;
}

li a:hover {
  color: rgb(228, 54, 54);
  letter-spacing: 3px;
}

.main {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  color: white;
  padding: 40px;
}
h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-thickness: 5px;
}

.main > .info > .hours > ul {
  list-style: none;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
}
span {
  position: relative;
  left: 400px;
  bottom: 30px;
}
label {
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
}

#submit {
  width: 200px;
  height: 60px;
}
