
body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  min-width: 960px;
  padding: 0;
  background: #000000;

}

.header{
display: flex;
flex-direction: column;
height: 100%;
align-items: center;
justify-content: center;

}


.main{
  height: 80vh;
  background-image: url(../homepagecar.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -300px;
}

.footer{
  height: 15vh;
}

img{
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
.footer{
  background-color: rgb(48, 48, 48);
}

.nav{
  display: flex;
  flex-direction: row;
  height: 80px;
  align-items: center;
  justify-content: center;
  background-color: black
}

#navi{
  display: flex;
  flex-direction: row;
  width:800px;
  justify-content: space-between;
  margin-right: 80px;
  list-style: none;
  word-spacing: 800px;
}
li> a {
  font-family: 'Raleway', sans-serif;  font-size: 25px;
  text-decoration: none;
  color: white;
  font-weight: 800;
  transition: 0.5s;
}

li a:hover
{
  color: rgb(228, 54, 54);
  letter-spacing: 3px;
}

.over{
  position: absolute;
  color: white;
  left: 15%;
  padding-top: 5vh;
  font-size: 80px;
  font-family: 'Raleway', sans-serif;
}

.over > span{
  font-size: 30px;
  word-spacing: 2px;
  
}
#book{
  font-size: 25px;
  position: absolute;
  background-color: rgb(236, 80, 69);
  transition:0.3s
  
}
#book:hover{
  transform: scale(1.2);
}


.footer{
  padding-top: 30px;
  color: white;
  text-align: start;
}

.social{
  display: flex;
  align-items: center;
  justify-content:flex-end;
  gap: 30px;
  margin-right: 400px;
}




.footer > div > i {
  font-size: 60px;
  text-align: center;
  width: auto;
  height: 100%;
  transition: .2s;
}

.footer > div > i:hover{
  color: red;
}

@media(max-width: 700px){
  *{
    max-width: 100vw;
  }

  body{
    display: flex;
    flex-direction: column;
    font-size: 10px;
    
  }
  .main{
    position:static;
    margin-top: 50px;
    font-size: 10px;
    background-image: url(../polish.jpg);
    max-width: 700px;
    
  }
  
  #navi{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 8px;
    line-height: 25px;
  }
  .over{
    position: relative;
    font-size: 40px;
    max-width: 15ch;
  }
  .over > span{
    font-size: 15px;
  }
  .header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 10px;
    align-items: center;
  }
  #book{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    
  }
  .footer > .social{
    display: flex;
    flex-direction: row;
    font-size: 10px;
    margin-top: 20px;
  }
  .logo{
  padding-left: 120px;
  }
}